.cardContainer {
    display: flex;
    flex-direction: column;
    gap:10px;
    box-sizing: border-box;
    border: 1px solid black;
    cursor: pointer
}
.image {
    width:255px;

}
.username {
    font-size: 1.5rem;
}
.company {
    font-size: 1.125rem
}


@media (max-width: 1024px) { 
    .image {
        max-width: 100%;
    }
}