.sliderContainer {
    max-width: 1180px;
    overflow-x: scroll;
    margin: 0 auto;
    scroll-behavior: smooth; 
}
.sliderInnerContainer {
    display: flex;
    gap: 40px;
    max-width: 1400px;
    
    
}
.sliderContainer::-webkit-scrollbar {
    display: none;
  }
  .navigation {
      border: 1px solid red;
      display: flex;
      margin-bottom: 20px;
      gap: 18px;

  }
  .navigation button {
      background: #FE8700;
      border: none;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      cursor: pointer
  }